body{

  background-image: url("70622603_465999984248830_6303391993288458240_n.png");
  background-color: #cccccc;
}
.sky{

text-align: center;
font-size: 500%;
text-transform: full-width;
font-family: fantasy;
font-stretch: condensed;


}
